/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
    box-sizing: border-box;
}

body {
    color: #576366;
    background: #fff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}

hr {
    border: 0;
    height: 0;
    margin: 2.3em 0 2em 0;
    border-top: 1px solid #fff;
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.padding {
    margin-bottom: 2em;
}


/* FORM & BUTTON STYLES -------- */

a.resume-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin-top: -10px !important;
    display: block;
    -webkit-transition: color 2s;
    /* Safari */
    transition: color 2s;
}

a.resume-link:hover {
    color: #22211f;
    text-decoration: none;
}

a.resume-link:visited,
a.resume-lik:active {
    color: #fff;
}

.fa {
    font-size: 18px;
    padding-left: 10px;
    color: #fff;
    text-align: center;
    -webkit-transition: color 1s;
    /* Safari */
    transition: color 1s;
}

.fa:hover {
    color: #22211f;
}


/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.main-nav .active {
    color: #576366 !important;
    background: none !important;
    border-color: none !important;
    transition: color 0.5s ease;
}

.main-nav a:hover {
    color: #576366;
    text-decoration: none;
}

header {
    margin-bottom: 2em;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding-top: 3em;
}

ul.main-nav {
    display: inherit;
    text-align: center !important;
}

ul.main-nav li {
    text-align: center;
    float: none;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
}


/* IMAGES -------- */


/* Logo -------- */

.logo {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    color: #22211f;
    padding-top: 0px;
    font-weight: 500;
    text-transform: none;
    padding-bottom: 30px;
}


/* Porfolio -------- */

.portfolio-name {
    margin-top: 2em;
}

.image-portfolio {
    background-color: #e3e3e3;
    width: 100%;
    height: 150px;
    margin-bottom: 0.5em;
}

.portfolio-container p {
    color: #000;
    font-size: 0.85em;
    line-height: 1.6em;
}

.portfolio-container h2 {
    color: #000;
    font-size: 1.6em;
    font-family: 'Playfair Display', serif;
    padding-top: 2.5em;
    text-align: center;
}

h2.page-title-header {
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
    padding: 1em;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 2em;
    padding-left: 30px;
}

.type-project {
    background: #000;
    color: #fff;
    padding: 0.7em;
    width: 33%;
    position: absolute;
    text-align: center;
    font-size: 0.85em;
}

a.link-sites:link,
a.link-sites:visited {
    color: #576366;
    font-weight: bold;
    display: block;
}

a.link-sites:hover {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.description {
    color: #000;
    font-weight: bold;
}

img.img-portfolio {
    margin-top: -30px;
    width: 100%;
}


/*Home*/

h2.home-introduction {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.3em;
    font-weight: 400;
    padding-top: 1.9em;
    padding-bottom: 1em;
    text-align: center;
    color: #000;
    line-height: 1.6em;
    opacity: 0.735088;
}

.arrow-bottom {
    border-left: 2px solid #000;
    height: 50px;
    display: table;
    margin: 0px auto;
    float: none;
    text-align: center !important;
    font-family: 'Work Sans', sans-serif;
    margin-top: -8px;
}

.arrow-bottom2 {
    border-left: 2px solid #000;
    height: 20px;
    display: table;
    margin: 0px auto;
    float: none;
    text-align: center !important;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 50px;
}

p.my-work-link {
    padding-top: 40px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 53px;
}

.home-container h3 {
    text-align: center;
    color: #6f6c6c;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-top: -6px;
}

hr {
    margin-top: 5em;
}


/* About -------- */

section.about {
    background-color: #af6d7a;
    padding-top: 40px;
    padding-bottom: 40px;
}

img.profile-image {
    padding-top: 69px;
    padding-left: 64px;
}

.profile-image-container {
    background: #c2909b;
    width: 450px;
    height: 450px;
    margin-top: -77px;
    margin-left: -40px;
}

.content-about {
    padding-left: 30px;
}

.content-about p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em !important;
    color: #22211f;
}

.content-about h1 {
    font-size: 2em !important;
    color: #22211f;
    margin-top: -36px;
    padding-bottom: 10px;
}

button.button-about {
    margin-right: 20px;
}

.social-icons {
    margin-left: -6px;
    padding-top: 10px;
}

.quote {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.95em !important;
    color: #22211f;
    padding-bottom: 5px;
    line-height: 20px !important;
    margin-top: 18px;
    width: 87%;
    text-align: center;
    padding-left: 58px;
}

section.about {
    padding-left: 40px;
}


/* Portfolio*/

.portfolio-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #fff;
    margin-top: -60px;
    margin-bottom: 59px;
}

.portfolio {
    background: #22211f;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 50px;
    margin-top: 50px;
}

.portfolio-card {
    width: 170px;
    height: 65px;
    float: left;
    background-color: #fff;
    color: #22211f;
    margin-bottom: 10px;
    margin-left: 10px;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s;
}

.portfolio-card:hover {
    cursor: pointer;
    background-color: #af6d7a;
    color: #fff;
}

h1.title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    width: 45%;
    padding-top: 32px;
}

a.link-portfolio,
a.link-portfolio:visited,
a.link-portfolio:active {
    color: #fff !important;
}

a {
    color: #fff !important;
    text-decoration: none;
    background-color: transparent;
}

h2.description {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
    line-height: 1.4em;
}

h2.technologies {
    padding-top: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    line-height: 1.4em;
}

p.link {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    padding-top: 20px;
}

h4.card-title {
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    line-height: 21px;
    padding-top: 20px;
}

.basicDimen {
    width: 0px;
    height: 0px;
}


/*CSS to draw Down Arrow */

.downArrow {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 29px solid #000;
    margin: 0px auto;
    margin-bottom: 20px;
}

.arrow {
    color: #000;
    font-size: 60px;
    display: block;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}


/*Footer*/

footer {
    text-align: center;
    font-size: 0.85em;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    background: #22211f;
}

footer p {
    padding-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
}

a.back-top:link {
    color: #000 !important;
    text-decoration: none;
    margin-top: 34px;
    margin-bottom: -50px;
}


/* ================================= 
  MEDIA QUERIES
==================================== */

@media (max-width: 1200px) {
    .content-about {
        width: 80%;
        padding-left: 240px;
    }
}

@media (min-width: 0) and (max-width: 768px) {
    img.img-portfolio {
        margin-top: 30px;
    }
    .icn-logo {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 4px;
    }
    .main-nav {
        margin: 0px auto;
        display: block;
        text-align: center !important;
        color: #000 !important;
    }
    .main-nav a {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        font-size: 1.3em;
        color: #000 !important;
    }
    .main-nav a:hover {
        border-color: none;
    }
    .home a,
    input,
    button {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }
    h2.home-introduction {
        font-size: 1.2em;
    }
    .portfolio {
        padding-left: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h1.title {
        width: 90%;
        font-size: 1.8em;
    }
    .portfolio-title {
        margin-top: 30px;
    }
    section.about {
        padding-left: 0px;
    }
    img.profile-image {
        padding-top: 29px;
        padding-left: 5px;
        margin-left: -10px;
    }
    .profile-image-container {
        background: none;
        /* width: 450px; */
        height: 450px;
        margin-top: -77px;
        margin-left: 15px;
    }
    .quote {
        font-family: 'Work Sans', sans-serif;
        font-size: 0.95em !important;
        color: #000;
        padding-bottom: 5px;
        line-height: 20px !important;
        margin-top: 18px;
        width: 73%;
        text-align: left;
        padding-left: 0px;
    }
    ul.main-nav li a {
        font-size: 1em;
        padding-right: 15px;
    }
    .portfolio-card {
        width: 90%;
    }
    .content-about {
        width: 100%;
        padding-left: 20px;
    }
}

@media (min-width: 769px) {
    /* MAIN NAV -------- */
    .icn-logo {
        margin-right: auto;
        padding: 0 2em;
    }
    header,
    .main-nav {
        display: flex;
        flex-wrap: wrap;
    }
    .main-nav a {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        padding: 1.25em 1.5em;
        color: #000 !important;
    }
    .main-nav a:hover {
        border-color: none !important;
    }
}

.card-img-top {
    width: 90px !important;
}